<header>
    <constrainer>
        <a class="left" href="{{ .Site.BaseURL }}">Home</a>
        <a class="right" href="{{ "about/" | absURL }}">About</a>
        <a class="right" href="{{ "contact/" | absURL }}">Contact</a>
        <a class="right" href="{{ "blog/" | absURL }}">Blog</a>
        <a class="right" href="{{ "portfolio/" | absURL }}">Portfolio</a>
        <a class="right" href="{{ "résumé/" | absURL }}">Résumé</a>
        <div class="spacer"></div>
        <a id="toggle"><div class="icon"><div class="inner"></div></div></a>
    </constrainer>
</header>
